# dbt artifacts
dbt_modules/
dbt_packages/
target/
logs/
manifest.json
run_results.json
*.log

# OS/system files
.DS_Store
Thumbs.db

# Python/venv 
__pycache__/
.venv/
venv
env/
*.pyc

# VSCode project settings
.vscode/

# To-Do Folders: Aspirational models that go beyond the current scope
# and are not yet implemented.
to_do/